<div class="card">
  <div
    style="
              background: url({{food_url}});
              grid-area: image;
              border-top-left-radius: 15px;
              border-top-right-radius: 15px;
              background-position: center;
              background-size: cover;
            "
    class="card-image"
  ></div>
  <div class="card-text">
    <h2 class="mb-0">
      {{food_name}}
      {{{checkStatus status}}}
    </h2>

    <a href="" class="username"><i class="fas fa-user"></i>
      {{User.username}}</a>

    <div class="location-point">
      Location
      <i class="fas fa-map-marker-alt"></i>
      {{location}}
    </div>
    <div class="food-post-date">
      <i class="far fa-clock"></i>11/01/2022
    </div>
    <div class="food-type">{{food_type}}</div>
  </div>

  <div class="card-stats">
    <div class="stat-btn">
      <div class="type">
        <a class="link" href="/food-post/view/{{uuid}}">VIEW</a>
      </div>
    </div>
    <div class="stat-btn-1">
      <div class="type">
        <a class="link" href="/food-post/{{uuid}}/order">ORDER</a>
      </div>
    </div>
    <div class="stat-btn-2">
      <div class="type">Watch-list</div>
    </div>
  </div>

  <div class="food-price">£{{price}}</div>
</div>