{{>private-navbar}}

<main class="card-container-1">
      <div class="card mb-3 column-1" style="max-width: 550px">
        

        
          <div class="card-body">
            <div class="bg-white shadow rounded overflow-hidden container mt-5">
          <div class="profile-header">
            <div class="px-4 pb-4 mt-3 cover">
              <div class="media align-items-end profile-head">
                <div class="profile mr-3">
                  <img
                    src="{{posts.User.profile_url}}"
                    alt="..."
                    class="rounded mb-2 img-thumbnail"
                  />
                </div>

                <div class="media-body mb-5 text-white">
                  <h4 class="mt-0 mb-0">{{posts.User.username}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
            <div class="col-md-12">
            <strong class="card-title-design">Bio</strong>
            <div class="card-text">
                <div>
                    <b>{{posts.User.first_name}} {{posts.User.last_name}}</b>
                  </p>

                  <p>
                    <h5>Contact:</h5>
                    Email: {{posts.User.email}}
                  </p>
  
                  <p>
                    <h5>About:</h5>
                    {{posts.User.description}}
                  </p>

                  <p>
                    <h5>No. of Posts:</h5>
                  </p>
            </div>
          </div>
        </div>
      </div>

        <div class="card mb-3 column-2 " style="max-width: 700px">
            <div class="bg-white shadow rounded overflow-hidden container mt-5">
                <div class="profile-header">
                   <div class="px-4 pb-4 mt-3">
                        <div class="media profile-head">
                            <div class="profile mr-3">
                                <img
                                    src={{posts.food_url}}
                                    alt="..."
                                    width="180"
                                    class="rounded mb-2 img-thumbnail"
                                />
                            </div>

                            <div class="media-body mb-5 text-white">
                                <h4 class="mt-0 mb-0"></h4> 
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card-body">
                    <h5 class="card-title-design">Food Details:</h5>
                    <div class="card-text">
                        <p><h5>Availability:</h5>{{posts.status}} 
                        </p>

                        <p><h5>Price:</h5>{{posts.price}}</p>

                        <p class="small mb-4"><h5>
                            Location:<i class="fas fa-map-marker-alt"></i></h5>{{posts.location}}  
                        </p>

                        <p><h5>Description:</h5>{{posts.description}}</p>

                        <p><h5>Food Type:</h5>{{posts.food_type}}</p>
                    </div>
                </div>   
            </div>
            
        </div>
    </main>

    <section class="order-button-container">
        <div class="order-button-styling">
            <div class="order-button-bg">
                <div class="type">
                    <a class="link" href="/food-post/{{posts.uuid}}/order">ORDER</a>
                </div>
            </div>
        </div>
    </section>

    <footer class="py-5">
      <div class="footer-container">
        <p class="m-0 text-center text-white">Copyright &copy; Food4U 2022</p>
      </div>
    </footer>