{{>private-navbar}}

<h1>view food post</h1>


<div class="bg-info">
    <ul>
    <li>{{posts.food_name}}</li>
    <li>{{posts.uuid}}</li>
    <li>{{posts.description}}</li>
    <li>{{posts.food_url}}</li>
    <li>{{posts.price}}</li>
    <li>{{posts.location}}</li>
    <li>{{posts.food_type}}</li>
    <li>{{posts.status}}</li>
</ul>

    <ul>
    <li>{{posts.User.first_name}}</li>
    <li>{{posts.User.last_name}}</li>
    <li>{{posts.User.username}}</li>
    <li>{{posts.User.email}}</li>
    <li>{{posts.User.profile_url}}</li>
    <li>{{posts.User.description}}</li>
 
</ul>
</div>
