{{>private-navbar}}

<main class="bg-white shadow rounded overflow-hidden container mt-5">
  <div class="profile-header">
    <div class="px-4 pb-4 mt-3 cover">
      <div class="media align-items-end profile-head">
        <div class="profile mr-3">
          <img
            src={{userInfo.profileUrl}}
            alt="..."
            width="170"
            class="rounded mb-2 img-thumbnail"
          />
        </div>
        <div class="media-body mb-5 text-white">
          <h4 class="mt-0 mb-0">{{userInfo.name}}</h4>
          <p class="small mb-4">
            <i class="fas fa-map-marker-alt mr-2"></i>{{userInfo.location}}
          </p>
        </div>
      </div>
    </div>
    <div class="bg-light p-4 d-flex justify-content-end text-center">
      <ul class="list-inline mb-0">
        <li class="list-inline-item">
          <h5 class="font-weight-bold mb-0 d-block">215</h5>
          <small class="text-muted">
            <i class="fas fa-image mr-6"></i>Posts</small>
        </li>
        <li class="list-inline-item">
          <h5 class="font-weight-bold mb-0 d-block">745</h5>
          <small class="text-muted">
            <i class="fas fa-heart mr-6"></i>Interest</small>
        </li>
        <li class="list-inline-item">
          <h5 class="font-weight-bold mb-0 d-block">340</h5>
          <small class="text-muted">
            <i class="fas fa-eye mr-6"></i>Watch-List</small>
        </li>
      </ul>
    </div>
    <div class="mx-4 my-3">
      <h3 class="mb-2">About</h3>
      <div class="p-4 rounded shadow-sm bg-light">
        <p class="font-italic mb-0">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi
          laborum quasi nam minus adipisci ullam repellendus officia dicta
          aliquid, sapiente deserunt inventore itaque eligendi consequuntur
          soluta quis reiciendis quos aperiam labore facere autem. Tempora
          voluptate alias ratione earum doloribus id iste dignissimos a
          architecto culpa. Quae numquam ad ab eos!
        </p>
      </div>
    </div>
  </div>

      <div class="mx-4 my-3">
        <h3 class="mb-2">Posts</h3>
      </div>

    <div
        class="mx-4 my-3 p-4 rounded shadow-sm  d-flex flex-wrap flex-row justify-content-center"
      >

    {{#each posts}}
    {{>profile-food-card}}
    {{/each}}
    </div>   

     <div class="container bg-light">
        <div class="col-md-12 text-center">
<a href="/profile/posts"><button type="button" class="btn btn-primary btn-lg">View all Posts</button></a>
        </div>
    </div>
      
      {{!-- </div> --}}

      <div class="mx-4 my-3">
        <h3 class="mb-2">Orders</h3>
      </div>
    <div
        class="mx-4 my-3 p-4 rounded shadow-sm  d-flex flex-wrap flex-row justify-content-center"
      >


      {{#each order}}

<div class="card">
  <div
    style="
              background: url({{Post.food_url}});
              grid-area: image;
              border-top-left-radius: 15px;
              border-top-right-radius: 15px;
              background-position: center;
              background-size: cover;
            "
    class="card-image"
  ></div>
  <div class="card-text">
    <h2 class="mb-0">
      {{Post.food_name}}
 {{{checkStatus Post.status}}}
    </h2>

    <a href="" class="username"><i class="fas fa-user"></i>
      {{Post.User.username}}</a>

    <div class="location-point">
      Location
      <i class="fas fa-map-marker-alt"></i>
      {{Post.location}}
    </div>
    <div class="food-post-date">
      <i class="far fa-clock"></i>{{dateFormatter Post.createdAt}}
    </div>
    <div class="food-type">{{Post.food_type}}</div>
  </div>
{{!-- 
  <div class="card-stats">
    <div class="stat-btn">
      <div class="link"><a href="/food-post/view/{{Post.uuid}}">VIEW</a></div>
    </div>
    <div class="stat-btn-1">
      <div class="link"><a href="/food-post/edit/{{Post.uuid}}">EDIT</a></div>
    </div>
    <div class="stat-btn-2">
      <div class="type">DELETE</div>
    </div>
  </div> --}}

  <div class="food-price">£{{Post.price}}</div>
</div>
   
      {{/each}}
    </div>

  <div class="container bg-light mb-3">
        <div class="col-md-12 text-center">
      <a href="/profile/orders"><button type="button" class="btn btn-primary btn-lg">View all Orders</button></a>
        </div>
    </div>

</main>

 