{{>private-navbar}}

<main class="bg-white shadow rounded overflow-hidden container mt-5">
  <div class="profile-header">
    <div class="px-4 pb-4 mt-3 cover">
      <div class="media align-items-end profile-head">
        <div class="profile mr-3">
          <img
            src= "{{postInfo.profile_url}}"
            alt="..."
            width="170"
            class="rounded mb-2 img-thumbnail"
          />
        </div>
        <div class="media-body mb-5 text-white">
          <h4 class="mt-0 mb-0">{{postInfo.first_name}} {{postInfo.last_name}}</h4>
          <p class="small mb-4">
            <i class="fas fa-map-marker-alt mr-2"></i>{{postInfo.location}}
          </p>
        </div>
      </div>
    </div>
    <div class="bg-light p-4 d-flex justify-content-end text-center">
      <ul class="list-inline mb-0">
        <li class="list-inline-item">
          <h5 class="font-weight-bold mb-0 d-block">215</h5>
          <small class="text-muted">
            <i class="fas fa-image mr-6"></i>Posts</small>
        </li>
      </ul>
    </div>
    <div class="mx-4 my-3">
      <h3 class="mb-2">About</h3>
      <div class="p-4 rounded shadow-sm bg-light">
        <p class="font-italic mb-0">
         {{postInfo.description}}
        </p>
      </div>
    </div>
  </div>

      <div class="mx-4 my-3">
        <h3 class="mb-2">Posts</h3>
      </div>

          <div
        class="mx-4 my-3 p-4 rounded shadow-sm  d-flex flex-wrap flex-row justify-content-center"
      >

    {{#each postInfo.Posts}}

   <div class="card">
  <div
    style="
              background: url({{food_url}});
              grid-area: image;
              border-top-left-radius: 15px;
              border-top-right-radius: 15px;
              background-position: center;
              background-size: cover;
            "
    class="card-image"
  ></div>
  <div class="card-text">
    <h2 class="mb-0">
      {{food_name}}
      {{{checkStatus status}}}

      {{!-- {{#if checkStatus status}}
        <i class="fas fa-check-circle"></i>
      {{else}}
        <i class="fas fa-times"></i>
      {{/if}} --}}

    </h2>

    <div class="location-point">
      Location
      <i class="fas fa-map-marker-alt"></i>
      {{location}}
    </div>
    <div class="food-post-date">
      <i class="far fa-clock"></i>{{dateFormatter createdAt}}
    </div>
    <div class="food-type">{{food_type}}</div>
  </div>

  <div class="card-stats">
    <div class="stat-btn">
      <div class="type">
        <a class="link" href="/food-post/view/{{uuid}}">VIEW</a>
      </div>
    </div>
    <div class="stat-btn-1">
      <div class="type">
        <a class="link" href="/food-post/{{uuid}}/order">ORDER</a>
      </div>
    </div>
    <div class="stat-btn-2">
      <div class="type">Watch-list</div>
    </div>
  </div>

  <div class="food-price">£{{price}}</div>
</div>

    {{/each}}


    </div>   

</main>
